body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url("sky-hd-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  margin-bottom: 20px;
}

.bookmarks {
  border: 1px solid #ddd;
}

.bookmarks h2 {
  text-align: center;
}

.bookmark {
  display: flex;
  flex-direction: column;  /* Change to column for vertical stacking */
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bookmark img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;  /* Add some space between thumbnail and text */
}

.bookmark span {
  font-weight: bold;
  text-align: center;  /* Center the text below the image */
}
