body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url("White-Brick-Wallpaper-HD.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  margin-bottom: 20px;
}

.bookmarks {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.bookmarks h2 {
  text-align: center;
  margin-bottom: 10px;
}

.bookmarks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bookmark {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bookmark img {
  width: 
